@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #0f1424;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  width: 100%;
}

.container {
  margin: 70px 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  gap: 30px;
  height: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .user {
  height: 200px;
  background-color: #6f00ff;
  background-color: #1c1f4a;
  border-radius: 10px;
  width: 100%;
}

.container .user .man {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5847eb;
  border-radius: 10px;
  padding: 20px;
}

.container .user .man .text .user-title {
  color: rgba(255, 255, 255, 0.572);
  font-size: 13px;
  font-weight: 200;
}

.container .user .man .text .name {
  color: white;
  font-size: 25px;
  font-weight: 200;
}

.container .user .man img {
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
}

.container .user .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6f76c8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.container .user .nav p {
  cursor: pointer;
}

.container .user .nav p.active {
  color: white;
}

.container .card.play {
  background-color: #56c2e6;
  background-image: url(images/icon-play.svg);
}

.container .card.study {
  background-color: #ff5c7c;
  background-image: url(images/icon-study.svg);
}

.container .card.study {
  background-color: #ff5c7c;
  background-image: url(images/icon-study.svg);
}

.container .card.exercise {
  background-color: #4acf81;
  background-image: url(images/icon-exercise.svg);
}

.container .card.social {
  background-color: #7536d3;
  background-image: url(images/icon-social.svg);
}

.container .card.selfCare {
  background-color: #f1c65b;
  background-image: url(images/icon-self-care.svg);
}

.container .card {
  height: 200px;
  width: 100%;
  background-color: #ff8c66;
  border-radius: 15px;
  background-image: url("images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 95% -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .card .mainCard {
  background-color: #1c1f4a;
  border-radius: 15px;
  height: 80%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  padding: 30px;
}

.container .card .mainCard .title {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.container .card .mainCard .hour {
  color: white;
  font-weight: 300;
  font-size: 30px;
}

.container .card .mainCard .ellipsis {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  margin-top: 10px;
}

.container .card .mainCard .ellipsis img {
  height: 5px;
  width: 20px;
}

.container .card .mainCard .pervious-hour {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bdc1ff;
  font-size: 15px;
}

.container .card .mainCard:hover {
  background-color: #6f76c8;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

@media screen and (min-width: 600px) {
  .container {
    margin: 100px;
    gap: 30px;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .container .user {
    background-color: #1c1f4a;
    display: -ms-grid;
    display: grid;
    grid-row: 1 / -1;
    border-radius: 15px;
    height: 100%;
    width: 100%;
  }
  .container .user .man {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .user .man img {
    width: 100%;
  }
  .container .user .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .container .user .nav p:hover {
    color: #bdc1ff;
    -webkit-transition: color ease-in-out .2s;
    transition: color ease-in-out .2s;
  }
  .container .user .text .title {
    font-size: 13px;
  }
  .container .user .text .name {
    font-size: 30px;
    font-weight: 300;
  }
  .container .user .man {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
  }
  .container .user .man img {
    width: 50px;
    height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container .card {
    border-radius: 15px;
  }
  .container .card .mainCard {
    display: -ms-grid;
    display: grid;
    padding-inline: 15px;
    border-radius: 15px;
  }
  .container .card .mainCard .title {
    font-size: 15px;
  }
  .container .card .mainCard .hour {
    font-size: 25px;
  }
  .container .card .mainCard .pervious-hour {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */